/* Gaya untuk kontainer judul */
div {
    text-align: center;
    padding: 20px;
}

/* Gaya untuk judul utama */
h1 {
    font-size: 36px;
    color: #333;
}

/* Gaya untuk info siswa */
.intro {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: left;
}

/* Gaya untuk nama dan kelas */
.intro h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #555;
}

/* Gaya untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
}

/* Gaya untuk header kolom */
th {
    background-color: peru;
    color: white;
    text-align: left;
    padding: 10px;
}

/* Gaya untuk sel data */
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

/* Gaya untuk baris ganjil */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Gaya untuk baris saat dihover */
tr:hover {
    background-color: #ddd;
}